certifi==2023.5.7
charset-normalizer==3.1.0
debtcollector==2.5.0
dnspython==1.16.0
eventlet==0.30.2
greenlet==2.0.2
idna==3.4
msgpack==1.0.5
netaddr==0.8.0
oslo.config==9.1.1
oslo.i18n==6.0.0
ovs==2.17.1.post1
pbr==5.11.1
PyYAML==6.0
repoze.lru==0.7
requests==2.31.0
rfc3986==2.0.0
Routes==2.5.1
ryu==4.31
six==1.16.0
sortedcontainers==2.4.0
stevedore==5.1.0
tinyrpc==1.1.6
urllib3==2.0.3
WebOb==1.8.7
wrapt==1.15.0
